<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Add a new flight
    </h1>

    <form action="/insert_flight" method="post">
      <div class="form-group">
        <label for="departure_time_box">
          Departure time
        </label>

        <input type="datetime-local" id="departure_time_box" name="query_departure_time" class="form-control">
      </div>

      <div class="form-group">
        <label for="destination_box">
          Destination
        </label>

        <input type="text" id="destination_box" name="query_destination" class="form-control">
      </div>

      <div class="form-group">
        <label for="departure_location_box">
          Departure location
        </label>

        <input type="text" id="departure_location_box" name="query_departure_location" class="form-control">
      </div>

      <div class="form-group">
        <label for="confirmation_number_box">
          Confirmation number
        </label>

        <input type="text" id="confirmation_number_box" name="query_confirmation_number" class="form-control">
      </div>

      <div class="form-group">
        <label for="url_box">
          Locator
        </label>

        <input type="text" id="url_box" name="query_url" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create flight
      </button>
    </form>
  </div>
</div>

<hr>

<h3>Upcoming flights</h3>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Departure time
        </th>

        <th>
          Destination
        </th>

        <th>
          Departure location
        </th>

        <th>
          Confirmation number
        </th>

        <th>
          Locator
        </th>

        <th>
          Alert sent
        </th>

        <th>
        </th>
      </tr>

      <% @upcoming_flights.each do |flight| %>
      <tr>
        <td>
          <%= flight.departure_time.strftime("%l:%M %p %b %e, %Y %Z") %>
        </td>

        <td>
          <%= flight.destination %>
        </td>

        <td>
          <%= flight.departure_location %>
        </td>

        <td>
          <%= flight.confirmation_number %>
        </td>

        <td>
          <%= flight.url %>
        </td>

        <td>
          <%= flight.alert_sent %>
        </td>

        <td>
          <a href="/delete_flight/<%= flight.id %>">
            Delete flight
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h3>Past flights</h3>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Departure time
        </th>

        <th>
          Destination
        </th>

        <th>
          Departure location
        </th>

        <th>
          Confirmation number
        </th>

        <th>
          Locator
        </th>

        <th>
          Alert sent
        </th>

        <th>
        </th>
      </tr>

      <% @past_flights.each do |flight| %>
      <tr>
        <td>
          <%= flight.departure_time.strftime("%l:%M %p %b %e, %Y %Z") %>
        </td>

        <td>
          <%= flight.destination %>
        </td>

        <td>
          <%= flight.departure_location %>
        </td>

        <td>
          <%= flight.confirmation_number %>
        </td>

        <td>
          <%= flight.url %>
        </td>

        <td>
          <%= flight.alert_sent %>
        </td>

        <td>
          <a href="/delete_flight/<%= flight.id %>">
            Delete flight
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
